<div class="sticky">
    <div class="position_relative">
        <div class="content__big-card container">
            <div class="colA">
                <div class="image">
                    <img src="{{thumb}}" alt="">
                </div>
            </div>
            <div class="colb">

                <div class="tag-date">
                    <span class="tag">{{tag}}</span> {{date}}
                </div>
                <div class="title">
                    <h2> {{title}} </h2>
                </div>
                <div class="description">{{preDescription}}</div>
            </div>
        </div>
    </div>
</div>
