.sticky {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    cursor: default;
}

.content__big-card {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 65px;
}

.content__big-card .colA,
.content__big-card .colb {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.content__big-card .colb {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
}

.content__big-card .image>img {
    border-radius: 10px;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.content__big-card .colb .tag-date .tag {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    padding: 13px 21px;
    border-radius: 10px;
    margin-right: 16px;
    letter-spacing: 0.3px;
    box-shadow: 14px 14px 36px rgba(85, 85, 85, 0.1);
    background-color: #ffcda3;
    color: #111111;
}

.content__big-card .colb .tag-date .tag:hover {
    box-shadow: 14px 14px 36px rgba(85, 85, 85, 0.3);
    color: #1d2124!important;
    transform: translateY(-3px);
    transition: 0.2s;
}

.content__big-card .colb .tag-date {
    color: #9b9b9b;
}

.content__big-card .tag-date {
    margin-bottom: 20px;
}

.content__big-card .title {
    font-size: 38px;
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 30px;
}

.content__big-card .colb .title:hover {
    color: #999999;
    cursor: pointer;
}

.content__big-card .description {
    margin-bottom: 30px;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
