<div class="sticky">
    <div class="position_relative">
        <div class="content__small-card">
            <div class="colA">
                <a [routerLink]="['content',id]">
                    <div class="image">
                        <img src="{{thumb}}" alt="">
                    </div>
                </a>
            </div>
            <div class="colb">
                <a [routerLink]="['content',id]">
                    <div class="title">
                        <h5>{{title}}</h5>
                    </div>
                </a>
                <div class="date">
                    {{date}}
                </div>
            </div>
        </div>
    </div>
</div>