<div class="sticky">
    <div class="position_relative">
        <div class="content container">
            <div class="tag-date">
                <span class="tag">{{tag}}</span> {{date}}
            </div>
            <div class="title">
                <h2>{{title}}</h2>
            </div>
            <div class="image">
                <img src="{{thumb}}" alt="">
            </div>
            <div class="description">{{description}}</div>
            <a [routerLink]="['']">
                <div class="back">Voltar</div>
            </a>
        </div>
    </div>
</div>