<div class="sticky">
    <div class="position_relative">
        <div class="content__menu-bar container">
            <div class="_menu-bar_logo">
                <h1>
                    ↈ
                    <span>
                      Blog
                    </span>
                </h1>
            </div>
            <div class="_menu-bar_menu">
                <ul>
                    <li>Home</li>
                    <li>Blog</li>
                    <li>Contact</li>
                    <li>LinkedIn</li>
                    <li>GitHub</li>
                </ul>
            </div>
        </div>
    </div>
</div>